@font-face {
  font-family: 'dy7seg';
  src: url('dy7seg_subset.woff2') format('woff2');
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  cursor: none;
  overflow: hidden;
}

#display {
  color: red;
  font-size: 35vw;
  font-family: 'dy7seg', monospace;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  user-select: none;
}