body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

#display {
  color: white;
  font-size: 35vw;
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-weight: bold;
}

#hiddenInput {
  position: absolute;
  opacity: 0;
  font-size: 16px;
  height: 20px;
  width: 60px;
  border: none;
  background: transparent;
}
