body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#display {
  color: white;
  font-size: 30vw;
  font-family: 'Arial', sans-serif;
  text-align: center;
}